%h1 Listing Pet Breeds

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Pet category
      %th
      %th
      %th

  %tbody
    - @pet_breeds.each do |pet_breed|
      %tr
        %td= pet_breed.name
        %td= pet_breed.description
        %td= pet_breed.pet_category.name
        %td= link_to 'Show', pet_breed
        - if current_user
          - if policy(pet_breed).admin?
            %td= link_to 'Edit', edit_pet_breed_path(pet_breed)
            %td= link_to 'Destroy', pet_breed, method: :delete, data: { confirm: 'Are you sure?' }
          - else
            - if policy(pet_breed).edit? 
              %td= link_to 'Edit', edit_pet_breed_path(pet_breed)

%br

= link_to 'New Pet breed', new_pet_breed_path
