-# frozen_string_literal: true
= simple_form_for(@pet) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.label "Pet Status"
    = f.select :status, Pet.statuses.keys.map { |w| [w.humanize, w] }
    = f.input :description
    = f.input :age
    = f.association :pet_breed
    = f.association :location
    - if policy(@pet).admin?
      = f.association :user, label_method: :email

  .form-actions
    = f.button :submit
