%h1 Listing pets

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Age
      %th Pet breed
      %th Location
      %th
      %th
      %th

  %tbody
    - @pets.each do |pet|
      %tr
        %td= pet.name
        %td= pet.description
        %td= pet.age
        %td= pet.pet_breed.name
        %td= pet.location.name
        %td= link_to 'Show', pet
        - if policy(pet).edit?
          %td= link_to 'Edit', edit_pet_path(pet)
        // - if Pundit.policy(pet).edit?
        // if policy(pet).edit?  works
        // %td= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Pet', new_pet_path
