%p#notice= notice

%p
  %b Name:
  = @pet.name
%p
  %b Description:
  = @pet.description
%p
  %b Age:
  = @pet.age
%p
  %b Pet breed:
  = @pet.pet_breed.name
%p
  %b Location:
  = @pet.location.name
%p
  %b Pet Status:
  = @pet.status.titleize   
%p
  %b Owner:
  = @pet.user.email

- if policy(@pet).edit?  
  = link_to 'Edit', edit_pet_path(@pet)
  \|
= link_to 'Back', pets_path
