%h1 Listing Pet Categories

%button.btn.btn-primary
  = link_to "New Pet Category", new_pet_category_path

%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Description
      %th{:scope => "col"} 
      %th{:scope => "col"} 
      %th{:scope => "col"} 

  %tbody
    - @pet_categories.each do |pet_category|
      %tr.table-primary
        %td= pet_category.name
        %td= pet_category.description
        %td= link_to 'Show', pet_category
        - if current_user
          - if policy(pet_category).admin?
            %td= link_to 'Edit', edit_pet_category_path(pet_category)
            %td= link_to 'Destroy', pet_category, method: :delete, data: { confirm: 'Are you sure?' }
          - else
            - if policy(pet_category).edit? 
              %td= link_to 'Edit', edit_pet_category_path(pet_category)

%br

