%h1 Listing locations

%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Xcoord
      %th{:scope => "col"} Ycoord
      %th{:scope => "col"} Owner
      %th{:scope => "col"} Status
      %th{:scope => "col"} 
      %th{:scope => "col"} 
      %th{:scope => "col"} 

  %tbody
    - @locations.each do |location|
      // %tr.table-secondary
      %tr.table-primary
        %th{:scope => "row"} Primary
        %td= location.name
        %td= location.xcoord
        %td= location.ycoord
        %td= location.user
        %td= location.status.titleize
        %td= link_to 'Show', location
        - if current_user
          - if policy(location).admin?
            %td= link_to 'Edit', edit_location_path(location)
            %td= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }
          - else
            - if policy(location).edit? 
              %td= link_to 'Edit', edit_location_path(location)

%br

= link_to 'New Location', new_location_path
