%h1 Listing locations

%table
  %thead
    %tr
      %th Name
      %th Xcoord
      %th Ycoord
      %th User
      %th Location
      %th
      %th
      %th

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.name
        %td= location.xcoord
        %td= location.ycoord
        %td= location.user.email
        %td= location.status.titleize
        %td= link_to 'Show', location
        - if current_user
          - if policy(location).admin?
            %td= link_to 'Edit', edit_location_path(location)
            %td= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }
          - else
            - if policy(location).edit? 
              %td= link_to 'Edit', edit_location_path(location)

%br

= link_to 'New Location', new_location_path
