%p#notice= notice

%p
  %b Name:
  = @location.name
%p
  %b Xcoord:
  = @location.xcoord
%p
  %b Ycoord:
  = @location.ycoord
  
%p
  %b Location Status:
  = @location.status.titleize   
  
%p
  %b User:
  = @location.user.email
- if policy(@location).edit?  
  = link_to 'Edit', edit_location_path(@location)
  \|
= link_to 'Back', locations_path
